$text-primary:#2c2c2c;
$text-secondary:#9A9A9A;

$primary-color: #2c2c2c;
$white-color: #fff; 
$lightgrey-color: #f8f8f8;
$success-color: #18ce0f; 
$gold-color: #C59D5F;
 
$topbar-x:             topbar-x !default;
$topbar-back:          topbar-back !default;
$bottombar-x:          bottombar-x !default;
$bottombar-back:       bottombar-back !default;