.form {
    width: 100%;
    &-group {
      display: flex;
      flex-direction: column;
      .input {
        width: 100%;
        border: 1px solid #e3e3e3;
        line-height: 1.35em;
        margin: 10px 1px;
        border-radius: 5px !important;
        padding: 10px 48px;
        font-size: 1em;
        resize: none;
        background-color: $lightgrey-color;
  
        &:focus {
          outline: none;
        }
      }
      .alert {
        color: red;
        font-size: 12px;
        padding: 0 10px;
        margin-top: -8px;
        margin-bottom: -5px;
      }
    }
  }